<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8" />
  <title>My_CV</title>
</head>

<div class="box">
  <div class="HeaderCV">
    <table class="Header">
      <tr>
        <td class="Inf_Personal">
          <h1 class="name">{{ name }}</h1>
          <p class="titulos">{{ titulos }}</p>
          <tr>
            <p class="mision">{{ mision }}</p>
          </tr>
        </td>

        <td>
          <img
            class="imgPersonal"
            [src]="fotoUrl"
            style="
              width: 200px;
              height: 200px;
              border-radius: 50%;
              overflow: hidden;
            "
          />
        </td>

        <td>
          <section class="Contacto">
            <p>{{ email }}</p>
            <p>{{ celular }}</p>
            <p>{{ ubicacion }}</p>
            <p>{{ redsocial }}</p>
          </section>
        </td>
      </tr>
    </table>
  </div>
</div>
