.main {
  width: 100%;
  height: 50%;
  margin: 3% 0% 0 0%;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenido {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.skills-cell {
  text-align: left; /* Alinea el contenido a la izquierda dentro de la celda */
  padding-left: 50px; /* Agrega un relleno a la izquierda para mover el contenido hacia la izquierda */
}
