/* Establece el ancho del componente al 50% del ancho de la página y lo alinea a la izquierda */
.work {
  width: 45%;
  float: left; /* Alinea el componente a la izquierda */
  margin-top: 15px; /* Aumenta el espacio desde la parte superior del componente */
  margin-left: 5%;
  position: relative;
}

.work .experience {
  overflow: hidden; /* Asegura que el contenido no se desborde fuera del componente */
}

/* Estilos adicionales para dar formato al contenido del componente */
.work h2 {
  font-size: 25px;
  width: 30rem;
  margin: 0;
  margin-bottom: 1.5%;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.work .info {
  margin-bottom: 0%;
  margin-top: 0%;
  display: flex; /* Utiliza flexbox para dividir el contenido en dos columnas */
  justify-content: space-between; /* Espacio igual entre las dos columnas */
  align-items: center; /* Centra verticalmente el contenido */
}

/* Estilos para el puesto y la empresa */
.work .info .left {
  flex: 1; /* La columna izquierda ocupa todo el espacio disponible */
  padding-left: 0px; /* Agrega espacio dentro del recuadro negro */
  position: absolute; /* Establece una posición relativa para que el contenido esté por encima del recuadro */
}

.work .info .left::before {
  content: ""; /* Agrega un elemento pseudo ::before */
  position: absolute;
  top: 1%;
  left: -65px;
  width: 30px; /* Ancho del recuadro negro */
  height: 80%; /* Altura igual a la del contenido */
  background-color: #63c5da; /* Color negro */
  z-index: -1; /* Coloca el recuadro detrás del contenido */
}

.work .info .right {
  flex: 1; /* La columna derecha ocupa todo el espacio disponible */
  text-align: right; /* Alinea el texto a la derecha en la columna derecha */
  margin-top: 7%; /* Añade margen superior para separar la ciudad y el país */
}

/* Estilos para el puesto y la empresa */
.work .info h3 {
  margin: 0;
  font-family: "Roboto", sans-serif; /* Fuente Montserrat para el puesto */
}

.work .info h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif; /* Fuente Roboto para la empresa */
}

.work .info p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #63c5da;
  margin-bottom: 0%;
  font-style: italic;
}

.work .logros {
  margin-top: 0%;
  margin-bottom: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #63c5da;
}

/* Estilos para el título "Logros" */
.work .logros .titulo {
  margin: 0;
  margin-top: 0%; /* Añade margen superior al título "Logros" */
  margin-bottom: 0%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #63c5da;
  font-style: italic;
}

.work .logros .lista {
  margin: 0;
  margin-top: 0%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
}

/* Estilos para la lista de logros */
.work .logros ul {
  list-style-type: square;
  margin-left: 0%;
  padding-left: 20px;
  margin: 0;
}

/* Estilos para los elementos de la lista de logros */
.work .logros li {
  margin-bottom: 3px;
  margin-top: 0%;
}
